.md-sidebar--primary[hidden]{display:none}
.md-sidebar--secondary[hidden]{display:none}
@media screen and (min-width:60em){
  .md-sidebar--secondary[hidden]{display:none}
}
.md-header__inner .jk-side-toggle{display:flex;align-items:center;gap:.1rem;margin-left:.2rem}
.jk-side-toggle button{display:inline-flex;align-items:center;gap:.35rem;background:transparent;border:0;border-radius:.2rem;color:currentcolor;cursor:pointer;font-size:.68rem;line-height:1;margin:.2rem;outline-color:var(--md-accent-fg-color);padding:.4rem;position:relative;opacity:.85}
.jk-side-toggle button:hover{background-color:#ffffff1f;opacity:1}
.jk-side-toggle button[aria-pressed="true"]{background-color:#ffffff33;opacity:1}
.jk-side-toggle button svg{fill:currentcolor;height:1.2rem;width:1.2rem}
@media screen and (max-width:44.9375em){
  .jk-side-toggle button span{display:none}
}
@media print{.jk-side-toggle{display:none}}
